@use "global" as *;

.c-btn {
  background-image: url(/images/common/more_button.png);
  padding: rem(7) rem(39);
  background-color: #EAE4C9;
  color: #BEA621;
  display: inline-block;
  border: rem(1) solid $white;
}
