@use "global" as *;

.c-btn-sub{
  display: inline-block;
  width: rem(270);
  text-align: center;
  padding: rem(15) rem(10);
  font-size: rem(18);
  color: $white;
  background-color: #06C755;
  border-radius: rem(25);
  @include mq("md"){
  }
}