@use "global" as *;


.c-content-title__img-a {
    aspect-ratio: 370 / 303;
    max-width: rem(370);
    width: 100%;
    @include mq('md') {
    aspect-ratio: 667 / 553;
    max-width: rem(667);
    }
}

.c-content-title__img-b {
    aspect-ratio: 370 / 138;
    max-width: rem(370);
    width: 100%;
    @include mq('md') {
        aspect-ratio: 800 / 286;
        max-width: rem(800);
    }
}

.c-content-title__img-a img, 
.c-content-title__img-b img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
