@use "global" as *;

.c-card{
  opacity: 1;
  position: relative;
  z-index: 0;
  width: 100%;
  @include mq("md") {
      width: calc((100% - (rem(77) * 2)) / 3);
  }
}
.c-card::before{
  content:"";
  display: block;
  width: rem(1);
  height: calc(100% + rem(10));
  background-color: $black;
  position: absolute;
  top: rem(10);
  left: calc(100% + rem(10));
}
.c-card::after{
  content:"";
  display: block;
  width: calc(100% + rem(10));
  height: rem(1);
  background-color: $black;
  position: absolute;
  top: calc(100% + rem(10));
  left: rem(10);
}
.c-card__main{
}
.c-card__img{
  position: relative;
  z-index: -2;
}
.c-card__img.is-active{
  @include mq("md"){
    z-index: 0;
  }
}
.c-card__img::before{
  content: "";
  display: block;
  padding-top: calc((462 / 846) * 100%);
}
.c-card__img img{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.c-card__block{
  position: relative;
  color: $white;
  background-color: #646157;
  z-index: -2;
  padding: rem(37) rem(29);
}
.c-card__tag-block{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin-top: rem(-15);
}
.c-card__datetag{
}
.c-card__tags{
  display: flex;
  gap: rem(10);
  text-transform: capitalize;
}

.c-card__block::before{
  content: "";
  display: block;
  background: linear-gradient(to right bottom, transparent 0%, transparent 50%, #646157 50%, #646157 100%);
  height: rem(30);
  width: 100%;
  position: absolute;
  top: rem(-30);
  left: 0;
  z-index: -1;
}
.c-card__block::after{
  content: "";
  display: block;
  background-image: url(../images/common/c-card-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: rem(120);
  padding-top: 10%;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: -1;
}
.c-card__title::first-letter{
  font-size: rem(32);
}
.c-card__text{
  font-size: rem(18);
  line-height: calc(30 / 18);
  margin-top: rem(40);
  height: rem(92);
  overflow: hidden;
}

.c-card__mask{
  background: rgba(0, 0, 0, .5);/* マスクの色(黒の50%) */
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;/* 最初は透明（非表示） */
}
.c-card__mask.is-active {
  @include mq("md") {
    opacity: 1;/* hoverしたら透過しない(表示させる) */
  }
}
