@use "global" as *;

.c-datetag{
  font-size: rem(14);
  line-height: calc(18/14);
  color: $white;
  display: inline-block;
  padding: rem(7) rem(30) rem(7) rem(25);
  background-image: url(../images/common/datetag.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  white-space: nowrap;
}