@use "global" as *;

.p-blog-card__date {
    background-image: url(/images/common/blog-card__date.png);
    background-position: center top;
    width: auto;
    color: $white;
    font-size: rem(18);
    line-height: 1.85714;
}