@use "global" as *;

.c-halfborder{
  font-size: rem(20);
  @include mq("md"){
    display: flex;
  }
}
.c-halfborder__title{
  @include mq("md"){
    width: 35%;
  }
}
.c-halfborder__title p{
  @include mq("md"){
    width: 100%;
  }
}

.c-halfborder__text{
  margin-left: rem(20);
  padding-left: rem(20);
  position: relative;
  @include mq("md"){
    width: 65%;
    padding-left: initial;
  }
}
.c-halfborder__text::before{
  content: "";
  display: block;
  background-color: $black;
  height: rem(30);
  width: rem(1);
  position: absolute;
  top: 0;
  left: 0;
  @include mq("md"){
    left: rem(-30);
  }
}

.c-halfborder+.c-halfborder{
  margin-top: rem(36);
  @include mq("md"){
    margin-top: rem(30);
  }
}