@use "global" as *;

.c-info{
  display: none;
  @include mq("md"){
    display: block;
    width: rem(593)
  }
}
.c-info__block{
  display: none;
  @include mq("md"){
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: rem(14) rem(40);
  }
}
.c-info__block:after {
  display: none;
  @include mq("md"){
    display: block;
    content: '';
    width: rem(6);
    height: rem(6);
    border: 0;
    border-top: solid rem(2) $black;
    border-right: solid rem(2) $black;
    transform: rotate(45deg);
    margin-top: rem(6);
  }
}
.c-info__left{
  display: none;
  @include mq("md"){
    display: block;
    width: 13%;
    font-size: rem(24);
    line-height: calc(36 / 24);
    font-weight: $bold;
    text-transform: capitalize;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
  }
}
.c-info__center{
  display: none;
  @include mq("md"){
    margin-left: rem(15);
    border-left: solid rem(2) $black;
    width: 72%;
    display: flex;
  }
}
.c-info__center-left{
  display: none;
  @include mq("md"){
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: rem(18);
    line-height: calc(32 / 18);
    font-weight: $regular;
    padding-left: rem(15);
    width: 40%;
  }
}
.c-info__center-right{
  display: none;
  @include mq("md"){
    white-space: nowrap;
    overflow: hidden;
    height: rem(32);
    font-size: rem(18);
    line-height: calc(32 / 18);
    font-weight: $regular;
    padding-left: rem(5);
    width: 60%;
    display: inline-block;
    text-decoration:underline;
  }
}
.c-info__right{
  display: none;
  @include mq("md"){
    display: flex;
    align-items: center;
    justify-content: end;
    width: 15%;
    padding-right: rem(3);
    font-size: rem(18);
    line-height: calc(32 / 18);
    font-weight: $regular;
    white-space: nowrap;
    overflow: hidden;
  }
}
.c-info__right a{
  display: none;
  @include mq("md"){
    display: inline-block;
    text-decoration: none;
  }
}
