@use "global" as *;

.c-info{
  width: rem(593)
}
.c-info__block{
  display: none;
  @include mq("md"){
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: rem(14) rem(40);
  }
}

.c-info__left{
  width: 13%;
  font-size: rem(24);
  line-height: calc(36 / 24);
  font-weight: $bold;
  text-transform: capitalize;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}
.c-info__center-left{
  white-space: nowrap;
  overflow: hidden;
  margin-left: rem(15);
  font-size: rem(18);
  line-height: calc(32 / 18);
  font-weight: $regular;
  padding-left: rem(15);
  width: calc(30% - rem(15));
  border-left: solid rem(2) $black;
}
.c-info__center-right{
  white-space: nowrap;
  overflow: hidden;
  height: rem(32);
  font-size: rem(18);
  line-height: calc(32 / 18);
  font-weight: $regular;
  padding-left: rem(5);
  width: 36%;
}
.c-info__center-right p{
  display: inline-block;
  text-decoration:underline;
}
.c-info__right{
  width: 15%;
  display: inline-block;
  font-size: rem(18);
  line-height: calc(32 / 18);
  font-weight: $regular;
  position: relative;
  text-decoration: none;
}
.c-info__right:after {
  content: '';
  width: rem(6);
  height: rem(6);
  border: 0;
  border-top: solid rem(2) $black;
  border-right: solid rem(2) $black;
  position: absolute;
  top: 54%;
  right: 0;
  transform: rotate(45deg);
}