@use "global" as *;

.c-section-title__ja {
    font-size: rem(60);
    text-align: center;
    color: $white;
}

.c-section-title__en {
    font-size: rem(138);
    text-align: center;
    color: #898989;
}