@use "global" as *;

.c-tag{
  font-size: rem(16);
  line-height: 1;
  color: $white;
  display: inline-block;
  padding: rem(4) rem(10);
  background-image: url(../images/common/tag_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: rem(10);
}