<body>
    <h1 class="c-section__title">ブログ</h1>
    <h2 class="c-section__subtitle">Blog</h2>
    <div class="l-blog p-blog">
        <div class="p-blog__inner">
                
        </div>
    </div>
</body>