<div class="p-blog">
    <div class="p-blog__inner l-inner">
        <div class="p-blog__list">
            <%- include('./p-card__list', {max: 9}) %>
        </div>
        <div class="p-blog__list">
            <%- include() %>
        </div>
    </div>
</div>