@use "global" as *;

.p-achievement {
    margin-top: rem(20);
    background-color: $white;

    @include mq(md) {
        padding-bottom: rem(43.1);
        padding-top: rem(50.9);
    }
}

.p-achievement-card__img {
    position: relative;
    overflow: hidden;
    width: 100%;

    @include mq(md) {
        max-width: rem(557);
        width: 100%;
    }
}

.p-achievement-card__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}