@use "global" as *;


.p-blog-archive__bg {
    background-image: url(/images/common/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: rem(25);
    padding-bottom: rem(74);
    @include mq('md') {
        padding-top: rem(35);
        padding-bottom: rem(150);
    }
}

.p-blog-archive__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    margin-top: rem(42);
    @include mq('md') {
        max-width: rem(1404);
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(87);
        padding-left: $padding-pc;
        padding-right: $padding-pc;  
    }
}