@use "global" as *;

.p-blog{
    width: 100%;
    background-color: rgba(17, 17, 17, 0.4);
}
.p-blog__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(65);
    padding-bottom: rem(80);
    @include mq("md"){
        padding-top: rem(135);
        padding-bottom: rem(100);
        max-width: 1404px;
        width: 100%;
        margin: 0 auto;
    }
}
.p-blog__title h2{
    color: $white;
}

.p-blog__title p{
    color: #898989;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p-blog__block{
    width: 100%;
    margin-top: rem(65);
    @include mq("md"){
        margin-top: rem(135);
    }
}

.p-blog__btn {
    text-transform: uppercase;
    margin-top: rem(60);
    @include mq("md"){
        margin-top: rem(120);
    }
}