@use "global" as *;

.p-blog__inner {
    margin-top: rem(120);
    @include mq("md"){
        margin-top: rem(150);
        padding: 0 rem(25);
    }
}

.p-blog__title h2{
    color: $white;
    text-align: center;
    margin-bottom: rem(150);
}

.p-blog__title p{
    color: #EBEBEB;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include mq("md"){
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.p-blog__btn {
    display: inherit;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    width: rem(300);
    margin-top: rem(60);
    @include mq("md"){
        width: rem(410);
        margin-top: 100;
    }
}