@use "global" as *;


.p-blog-single{
  width: 100%;
}
.p-blog-single__title{
  position: relative;
  display: inline-block;
  font-size: rem(40);
  line-height: 1.5;
  font-weight: $semibold;
}
.p-blog-single__title::before{
  content: "";
  height: rem(1);
  width: 100%;
  background-color: $black;
  position: absolute;
  bottom: rem(-30);
  left: 0;
}
.p-blog-single__block{
  display: flex;
  margin-top: rem(80);
  justify-content: space-between;
  @include mq("md"){
    justify-content: initial;
  }
}
.p-blog-single__datetag{
  height: calc((100% - rem(20)) / 2);
  @include mq("md"){
    height: 100%;
  }
}
.p-blog-single__tags{
  display: flex;
  text-transform: capitalize;
  gap: rem(10) 0;
  flex-direction: column;
  @include mq("md"){
    gap: 0 rem(20);
    flex-direction: row;
    margin-left: rem(17);
  }
}
.p-blog-single__images{
  margin-top: rem(60);
  width: 100%;
  aspect-ratio: 1848 / 1008;
}
.p-blog-single__images img{
  height: auto;
}
.p-blog-single__lists{
  font-size: rem(18);
  line-height: 1.8;
}
.p-blog-single__quote{
  width: 100%;
  background-color: #6A6A6A;
  line-height: 1.8;
  font-weight: $semibold;
  color: $white;
  line-height: 1.8;
  margin-top: rem(55);
  padding: rem(100) rem(30) rem(52);
  @include mq("md"){
    padding: rem(130) rem(90) rem(90);
  }
}
.p-blog-single__quote p:first-child{
  position: relative;
}
.p-blog-single__quote p:first-child:before{
	content:"“";                                                    /* 文字コード */
  font-size: rem(120);
  color:$white;                                                           /* 文字色 */
	position:absolute;
  left:rem(-16);
  top:rem(-120);
  @include mq("md"){
    font-size: rem(230);
    left:rem(-18);
    top:rem(-190);  
  }
}
.p-blog-single__quote p:nth-child(2){
  display: flex;
  justify-content: end;
  word-break: break-all;
  margin-top: rem(22);
  @include mq("md"){
    margin-top: rem(28);
  }
}
.p-blog-single__table{
  width: 100%;
  line-height: 1.8;
  background-color: $white;
  border-collapse:  collapse;
  margin-top: rem(62);
  @include mq("md"){
    margin-top: rem(80);
  }
}
.p-blog-single__table th{
  width: 30%;
}
.p-blog-single__table td{
  width: 70%;
}
.p-blog-single__table th,.p-blog-single__table td{
  border: solid 1px $black;
  padding: rem(10) rem(5);
}

.p-blog-single__lists{
  margin-top: rem(30);
}
.p-blog-single__dot{
  list-style-type: disc;
  list-style-position: inside;
}
.p-blog-single__dot+.p-blog-single__dot{
  margin-top: rem(20);
}
.p-blog-single__dot:nth-child(2){
  padding-left: rem(20);
}
.p-blog-single__dot:nth-child(3){
  padding-left: rem(30);
}
.p-blog-single__ints{
  margin-top: rem(48);
}
.p-blog-single__int{
  list-style-type: decimal;
  list-style-position: inside;
}
.p-blog-single__int+.p-blog-single__int{
  margin-top: rem(20);
}
.p-blog-single__int:nth-child(2){
  padding-left: rem(20);
}
.p-blog-single__int:nth-child(3){
  padding-left: rem(30);
}