@use "global" as *;

.p-card__list {
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    // gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.p-card-list__item {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: rem(53);
    @include mq("md") {
        max-width: calc(33.3333% - rem(77) * 2 / 3);
    }
}

.p-card-list__item::after {
    content:"";
    display: block;
    width: rem(1);
    height: calc(100% + rem(10));
    background-color: $black;
    position: absolute;
    top: rem(10);
    right: rem(-10);
}

.p-card-list__item + .p-card-list__item {
    @include mq("md") {
        margin-left: rem(77);
    }
}

.p-card-list__item:nth-child(3n + 1) {
    @include mq("md") {
        margin-left: 0;
    }
}

.p-card-list__item:nth-child(n + 4) {
    @include mq("md") {
        margin-top: rem(77);
    }
}