@use "global" as *;

.body {
    color: $white;
}

.p-card__title,
.p-card__text,
.p-card__category,
.p-card__sub-category,
.p-card__date
{
    color: $white;
}

.p-card__title {
    font-weight: $extrabold;
    font-size: rem(20);
    line-height: 3.85;
}

.p-card__text,
.p-card__category,
.p-card__sub-category,
.p-card__date
{
    font-size: rem(18);
    line-height: 6;
}

.p-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-card__category,
.p-card__sub-category
{
    background-color: $black;
    padding: 0.6rem 0.5rem;
    line-height: 1;
}

.p-card__body {
    padding: 0.4rem 2.4rem 1.5rem;
}