@use "global" as *;

.p-contact {
    // background-image: url(/images/common/bg01.jpg);
}

.p-contact__inner {
	max-width: rem(600);
    width: 100%;
    padding-right: $padding-sp;
	padding-left: $padding-sp;
    @include mq('md') {
        display: flex;
        margin-top: rem(84);
        max-width: rem(1060);
        margin-left: auto;
        margin-right: auto;
        padding-right: $padding-pc;
		padding-left: $padding-pc;
    }
}

.p-contact__top-left {
    @include mq('md') {
        padding-right: rem(53);
        border-right: rem(2) solid #707070;
    }
}

.p-contact__bottom-right {
    @include mq('md') {
        padding-left: rem(60);
    }
}

.p-contact__text-block1 {
   
}

.p-contact__text-block2 {
    
}

.p-contact__logo {
    width: rem(160);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(40);
    @include mq('md') {
        margin-top: rem(70);
        }
}

.p-contact__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq('md') {
    margin-top: rem(49);
    }
}