@use "global" as *;

.p-contact-form__items {
    width: 100%;
}

.p-contact-form__input {
    display: block;
    border: 1px solid #9A9A9A;
    font-size: rem(14);
    font-weight: $semibold;
    line-height: 1.4286;
    color: #A8A8A8;
    padding: rem(9) rem(16);
    max-width: rem(480);
    width: 100%;
    @include mq('md') {
        max-width: rem(365);
    }
}

.p-contact-form__label {
    color: $black;
}

.p-contact-form__textarea {
    display: block;
    border: 1px solid #9A9A9A;
    font-size: rem(14);
    font-weight: $semibold;
    line-height: 1.4286;
    color: #A8A8A8;
    padding: rem(9) rem(16);
    max-width: rem(480);
    width: 100%;
    @include mq('md') {
        max-width: rem(365);
    }
}

.p-contact-form__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq('md') {
    margin-top: rem(60);
    }
}