@use "global" as *;
.l-footer{
    position: relative;
    background-image: url(/images/common/bg.jpg);
    background-size: contain;
    z-index: 1;
}
.p-footer {
    background-color: rgba(229, 225, 200, .8);
    border-top: rem(10) solid $black;
    position: relative;
    z-index: 0;
    overflow: hidden; 
    @include mq('md') {
        border-top: rem(20) solid $black;
    }
}

.p-footer::before {
    display: block;
    content: "";
    background-image: url(/images/common/footer_img.png);
    background-size: 200%;
    background-position: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    bottom: rem(-150);
    width: 35%;
    height: 50%;
    @include mq('md') {
        background-position: 100% 20%;
        bottom: 0;
        height: 100%;
    }
}

.p-footer::after {
    display: block;
    content: "";
    background-image: url(/images/common/footer_img.png);
    background-size: 200%;
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    bottom: rem(-200);
    right: 0;
    z-index: 1;
    width: 35%;
    height: 50%;
    @include mq('md') {
        background-position: 0% 28%;
        bottom: 0;
        height: 100%;
    }
}

.p-footer__logo {
    max-width: rem(212);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq('md') {
        max-width: rem(302);
        margin-left: initial;
        margin-right: initial;
    }
}

.p-footer__inner {
    position: relative;
    @include mq('md') {
    display: flex;
    justify-content: center;
    }
}

.p-footer__info {
    margin-top: rem(62);
    @include mq('md') {
        margin-top: initial;
        margin-left: rem(32);
    }
}

.p-footer__text {
    font-size: rem(14);
    line-height: 2.5714;
    font-weight: $regular;
    @include mq('md') {
        font-size: rem(18);
        line-height: 2;
    }
}

.p-footer__copyright {
    text-align: center;
    @include mq('md') {
        margin-top: rem(23);
    }
}

.p-footer__copyright small {
    font-size: rem(13);
    font-weight: $semibold;
    line-height: 2.4615;
}

.p-footer__img{
    @include mq("md"){
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}