@use "global" as *;


.p-footer {
    background-image: url(/images/common/footer_bg.jpg);
    padding-top: rem(70);
    border-top: rem(10) solid $black;
    position: relative;
    z-index: -1;
    overflow: hidden; 
    @include mq('md') {
        padding-top: rem(73);
        border-top: rem(20) solid $black;
    }
}
.p-footer::before {
    display: block;
    content: "";
    width: rem(348);
    height: rem(330);
    background-image: url(/images/common/sakura02.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: rem(150);
    left: rem(-30);
    z-index: 1;
    @include mq('md') {
        bottom: rem(20);
        left: rem(-50);
    }
}

.p-footer::after {
    display: block;
    content: "";
    width: rem(500);
    height: rem(330);
    background-image: url(/images/common/sakura01.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: rem(50);
    right: rem(-65);
    z-index: 1;
    @include mq('md') {
    right: 0;

}
}

.p-footer__logo {
    max-width: rem(212);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq('md') {
        max-width: rem(302);
        margin-left: initial;
        margin-right: initial;
    }
}

.p-footer__inner {
    @include mq('md') {
    display: flex;
    justify-content: center;
    }
}
.p-footer__info {
    margin-top: rem(70);
    @include mq('md') {
        margin-top: initial;
        margin-left: rem(32);
    }
}

.p-footer__text {
    font-size: 14px;
    line-height: 2.5714;
    font-weight: $regular;
    @include mq('md') {
        font-size: rem(18);
        line-height: 2;
    }
}

.p-footer__copyright {
    margin-top: rem(402);
    text-align: center;
    padding-bottom: rem(9);
    @include mq('md') {
        margin-top: rem(23);
    }
}

.p-footer__copyright small {
    font-size: 13px;
    font-weight: $semibold;
    line-height: 2.4615;
}