@use "global" as *;

.p-greeting-content__subtitle-wrap {
    width: 100%;
}

.p-greeting-content--404 {
    padding-left: rem(40);
    padding-right: rem(40);
@include mq("md"){
        padding-left: rem(150);
        padding-right: rem(70);
    }
}

.p-greeting-content__subtitle {
    display: inline-block;
    font-size: rem(24);
    font-weight: $extrabold;
    @include mq('md') { 
        font-size: rem(34);
        line-height: 1.0588;
    }
}
// 404ページ用
.p-greeting-content__subtitle--404{
    display: inline-block;
    font-size: rem(40);
    line-height: 1.0588;
    font-weight: $semibold;
    // border-bottom: solid 1px $black;
    position: relative;
    padding: initial;
    @include mq('md') {  
        padding: initial;
    }
}

.p-greeting-content__subtitle--404::before{
    content: "";
    display: inline-block;
    height: rem(1);
    width: 100%;
    background-color: $black;
    position: absolute;
    bottom: rem(-30);
    left: 0;
}

.p-greeting-content__text-wrapper {
    margin-top: rem(40);
    width: 100%;
    @include mq('md') {
        margin-top: rem(34);
        max-width: rem(760);
    }
}

.p-greeting-content__text {
    max-width: rem(761);
    font-size: rem(18);
    line-height: 2;
    font-weight: $semibold;
}
.p-greeting-content__text--404{
    margin-top: rem(80);
    @include mq("md"){
        margin-top: rem(90);
    }
}

.p-greeting-content__text + .p-greeting-content__text{
    margin-top: rem(26);
    @include mq('md') {
        margin-top: rem(40);
    }
}

.p-greeting-content__block {
    list-style: disc;
    margin-top: rem(36);
    max-width: rem(150);
    width: 100%;
    margin-left: auto;
    @include mq('md') {
        margin-top: rem(50);
        max-width: rem(250);
    }
}

.p-greeting-content__post {
    font-family: ab-ootori, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: rem(15);
    text-align: left;
    @include mq('md') {
        font-size: rem(26);
        line-height: 0.2em;
    }
}

.p-greeting-content__name {
    font-family: ab-ootori, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: rem(5);
    font-size: rem(30);
    line-height: 2;
    letter-spacing: 0.2em;
    @include mq('md') {
        margin-top: rem(8);
        font-size: rem(51);
    }
}