@use "global" as *;

.p-overview{
  // background-image: url(../images/common/map.jpg);
  // background-size: cover;
  width: 100%;
  height: auto;
  @include mq("sm"){
  }
  @include mq("md"){
  }
}
.p-overview__map{
  width: 100%;
  height: 100vh;
  @include mq("md"){
    height: 100%;
  }
}
.p-overview__map iframe{
  width: 100%;
  height: 100vh;
  display: block;
  @include mq("md"){
    position: relative;
    left: -50%;
    top: 0%;
    width: 150%;
    height: rem(750);
  }
}
.p-overview__title,.c-title{
z-index: 1;
}
.p-overview__title h2{
  color: $white;
}
.p-overview__title p{
  display: block;
  color: #2F2F2F;
  top: rem(-70);
  @include mq("md"){
    top: rem(-90);
  }
}
.p-overview__container{
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  @include mq("md"){
    background-color: initial;
    padding: initial;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;  
    z-index: 2;
  }
}
.p-overview__block{
  color: $white;
  @include mq("md"){
    margin-left: rem(5);
  }
}
.p-overview__company{
  font-weight: $medium;
  font-size: rem(28);
  line-height: calc(32 / 28);
  margin-top: rem(12);
  @include mq("md"){
    font-size: rem(32);
    line-height: 1;
    margin-top: rem(72);
  }
}
.p-overview__info{
  font-size: rem(16);
  line-height: calc(32 / 16);
  font-weight: $medium;
  margin-top: rem(26);
  @include mq("md"){
    font-size: rem(18);
    line-height: calc(32 / 18);
    margin-top: rem(19);
  }
  // color: inherit;
}