@use "global" as *;
.p-overview{
  background-image: url(../images/common/map.jpg);
  background-size: cover;
  padding-top: 70%;
  @include mq("md"){
    padding: rem(60) 0 rem(70);
  }
}
.p-overview__container{
  background-color: rgba(0,0,0,.5);
  padding: rem(70) rem(40) rem(80);
  @include mq("md"){
    background-color: initial;
    padding: initial;
    width: 50%;
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
}
.p-overview__title h2{
  color: $white;
}
.p-overview__title p{
  color: #2F2F2F;
}
.p-overview__block{
  color: $white;
  margin-top: rem(30);
  @include mq("md"){
    margin-left: rem(5);
  }
}
.p-overview__company{
  font-size: rem(28);
  font-weight: $medium;
  @include mq("md"){
    font-size: rem(32);
  }
  // color: inherit;
}
.p-overview__info{
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(26);
  @include mq("md"){
    font-size: rem(18);
    margin-top: rem(19);
  }
  // color: inherit;
}