@use "global" as *;

.p-subtitle__container {
    background-image: url(/images/common/subtitle_bg.png);
    background-size: cover;
    color: $white;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: rem(844);
    @include mq(md) {
        height: rem(773);
    }
}

.p-subtitle__title {
    font-size: rem(24);
    width: rem(540);
    text-align: center;
    display: block;
    margin-top: rem(299);
}

.p-subtitle__contents {
    font-size: rem(18);
    height: rem(114);
    padding-top: rem(38);
    margin-bottom: rem(298);
}