@use "global" as *;

.p-top-content {
    position: relative;
    overflow: hidden;
    padding-bottom: rem(82);
    @include mq('md') {
        padding-bottom: rem(117);
    }
}

.p-top-content__vertical-title-a {
    position: absolute;
    top: rem(240);
    right: -15%;
    z-index: -2;
    max-width: rem(206);
    width: 100%;
    @include mq('md') {
        max-width: rem(517);
        top: rem(250);
        right: -6%;
    }
}

.p-top-content__vertical-title-b {
    position: absolute;
    bottom: rem(800);
    left: -12%;
    z-index: -2;
    max-width: rem(179);
    width: 100%;
    @include mq('md') {
        max-width: rem(517);
        bottom: rem(-200);
        left: -10%;
    }
}

.p-top-content__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    @include mq('md') {
        padding-left: $padding-pc;
        padding-right: $padding-pc;
        max-width: rem(1820);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

// .p-top-content__title-a {
//     max-width: rem(370);
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     aspect-ratio: 375 / 300;
//     @include mq('md') {
//         margin-left: initial;
//         margin-right: initial;
//     }
// }

.p-top-content__body-a {
    position: relative;
    @include mq('md') {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: rem(-350);
    }
}

.p-top-content__img-a {
    position: relative;
    width: 100%;
    max-width: rem(281);
    margin-left: auto;
    margin-right: auto;
    @include mq('md') {
        max-width: rem(719);
        margin-left: rem(50);
        margin-right: initial;
    }
}

.p-top-content__img-a::before {
    display: block;
    content: "";
    padding-top: 158.71886%;
}

.p-top-content__img-a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.p-top-content__text-a {
    font-size: rem(18);
    font-weight: $regular;
    line-height: 2;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    @include mq('md') {
        max-width: rem(540);
    }
}

.p-top-content__body-b {
    @include mq('md') {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: left;
        margin-top: rem(-200);
        position: relative;
        z-index: -1;
    }
}
// .p-top-content__title-b {
//     max-width: rem(373);
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     aspect-ratio: 373 / 138;
//     margin-top: rem(66);
//     @include mq('md') {
//         max-width: rem(700);
//         margin-left: initial;
//         margin-right: initial;
//         margin-left: rem(10);
//     }
// }

.p-top-content__img-b {
    position: relative;
    width: 100%;
    max-width: rem(350);
    margin-left: auto;
    margin-right: auto;
    @include mq('md') {
        max-width: rem(983);
    }
    
}

.p-top-content__img-b::before {
    display: block;
    content: "";
    padding-top: 141.42857%;
}

.p-top-content__img-b img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.p-top-content__text-block {
    @include mq('md') {
        max-width: rem(486);
        width: 100%;
        margin-left: auto;
        margin-top: rem(-300);
    }
}

.p-top-content__quotation {
    font-size: rem(18);
    font-weight: $regular;
    line-height: 1.7778;
    color: #4D4D4D;
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.p-top-content__quotation::before {
    display: block;
    content: "“";
    font-size: rem(116);
    color: #B5B5B5;
    position: absolute;
    top: rem(-100);
    left: rem(-20);
}

// 付け忘れ？なしで良い？
// .p-top-content__quotation::after {
//     display: block;
//     content: "“";
//     font-size: rem(116);
//     color: #B5B5B5;
//     position: absolute;
//     bottom: rem(-130);
//     right: rem(-20);
// }

.p-top-content__text-b {
    font-size: rem(18);
    font-weight: $regular;
    line-height: 2;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.p-top-content__text-a span,
.p-top-content__text-b span {
    border-bottom: 4px solid #DCBE5A;
}

