@use "global" as *;

.l-works{
  margin-top: rem(120);
  @include mq("md"){
    margin-top: rem(150);
    padding: 0 rem(250);
  }
}
.p-works{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-works__title h2{
  color: $black;
}
.p-works__title p{
  color: #EBEBEB;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include mq("md"){
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.p-works__block{
  margin-top: rem(50);
  @include mq("md"){
    margin-top: rem(120);
    display: flex;
  }
}
.p-works__btn{
  display: inherit;
  text-transform: uppercase;
  text-align: center;
  margin-top: rem(60);
  @include mq("md"){
    margin-top: 100;
  }
}