@use "global" as *;

.p-works-archive__block{
  display: flex;
  flex-direction: column;
  margin-top: rem(40);
  @include mq("md"){
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: rem(90);
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.p-works-archive__block img{
  width: 100%;
  @include mq("md"){
    width: calc(100% / 3);
  }
}
.p-works-archive__pagination{
  margin-top: rem(45);
  @include mq("md"){
    margin-top: rem(100);
  }
}