<div class="p-blog-archive  l-inner">
    <div class="l-breadcrumb">
        <%- include('../component/_c-breadcrumb',{level1:'トップページ',link2:'#',level2:'お知らせアーカイブ',level3:''}) %>
    </div>
    <div class="p-blog-archive__inner l-blog-archive__inner">
        <%- include('../project/_p-card-list',{status:'archive'}) %>
    </div>
    <div class="l-pagination">
        <%- include('../component/_c-pagination') %>
    </div>
</div>