<form action="#" class="p-contact-form">
	<% 
	const formItems=[
	  { label:"お名前",type:"text",placeholder:"鈴木　花"},
	  { label:"会社名",type:"text",placeholder:"合同会社 HomeEnginnire"},
	  { label:"メールアドレス",type:"email",placeholder:"info@codeups.com"}
	] %> 
	<dl class="p-contact-form__items">
		<% for (var formItem of formItems) {%> 
		<%- include('../component/_c-form',{label:formItem.label,type:formItem.type,placeholder:formItem.placeholder}) %>
		<% } %>
			<div class="c-form c-form--textarea">
					<dt class="c-form__title">
						お問い合わせ内容
					</dt>
					<dd class="c-form__text">
						<textarea class="c-form__textarea" name="contact" placeholder="お問い合わせ内容に関する詳細をお書きください" cols="50" rows="8" required></textarea>
					</dd>
			</div>
		</dl>
	<div class="p-contact-form__btn">
			<%- include('../component/_c-btn',{text:'送信', link:'#'}) %>
	</div>
</form>