<form action="#" class="p-contact-form">
	<dl class="p-contact-form__items">
			<div class="c-halfborder">
					<dt class="c-halfborder__title">
						<label class="p-contact-form__label">お名前</label>
					</dt>
					<dd class="c-halfborder__text">
						<input class="p-contact-form__input" type="text" placeholder="田中 太郎" required>
					</dd>
			</div>
			<div class="c-halfborder">
					<dt class="c-halfborder__title">
						<label class="p-contact-form__label">会社名</label>
					</dt>
					<dd class="c-halfborder__text">
						<input class="p-contact-form__input" type="text" placeholder="合同会社 CodeUps" required>
					</dd>
			</div>
			<div class="c-halfborder">
					<dt class="c-halfborder__title">
						<label class="p-contact-form__label">メールアドレス</label>
					</dt>
					<dd class="c-halfborder__text">
						<input class="p-contact-form__input" type="email" placeholder="info@codeups.com" required>
					</dd>
			</div>
			<div class="c-halfborder c-halfborder--textarea">
					<dt class="c-halfborder__title">
						<label class="p-contact-form__label">お問い合わせ内容</label>
					</dt>
					<dd class="c-halfborder__text">
						<textarea class="p-contact-form__textarea" name="contact" placeholder="お問い合わせ内容に関する詳細をお書きください" cols="50" rows="8" required></textarea>
					</dd>
			</div>
		</dl>
	<div class="p-contact-form__btn">
			<%- include('../component/_c-btn',{text:'送信', link:'#'}) %>
	</div>
</form>