<div class="p-contact">
    <div class="p-contact__text-wrapper">
        <%- include('../component/_c-contact-text',{text:'サイト制作依頼や CodeUps のサービスについてお聞きしたいことがざいましたらお気軽にお問い合わせください。お問い合わせ頂いてから約3営業日以内に回答させていただきます。'}) %>
            <!-- <p>テキストテキストテキストテキスト</p> -->
        </div>
        <div class="p-contact__text-wrapper">
        <%- include('../component/_c-contact-text',{text:'Code Ups のサービスにつきましては LINE から受け付ておりますのでLINE にご登録の上お問い合わせください。'}) %>
        <!-- <p>テキストテキストテキストテキスト</p>     -->
    </div>
</div>