<div class="p-footer l-footer__inner">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__logo">
      <a href="index.html">
        <img src="./images/common/logo.svg" alt="CodeUps">
      </a>
    </div>
    <div class="p-footer__info">
      <p class="p-footer__text">合同会社HomeEngineer</p>
      <p class="p-footer__text">〒160-0023<br>
      東京都新宿区西新宿3-3-13 西新宿水間ビル6階</p>
      <p class="p-footer__text">代表：鈴木　花</p>
    </div>
  </div>
  <div class="p-footer__img">
    <img src="./images/common/footer_sakura.png" alt="桜のイラスト">
  </div>
  <div class="p-footer__copyright">
    <small>Copyright: 合同会社HomeEngineer</small>
  </div>
</div>
