<div class="p-hero">
  <div class="p-hero__info">
    <%- include('../component/_c-info',{left:'info', center:'公式サイト公開', right:'more', date:'2022年8月1日', link:'#'}) %>
  </div>
  <div class="p-hero__img">
    <picture>
      <source srcset="./images/common/p-hero.png" media="(min-width: 768px)" /><!-- 幅768px以上なら表示 -->
      <img src="./images/common/p-hero-sp.png" alt="山と雲のイメージ画像" />
    </picture>
  </div>
</div>