<header class="l-header p-header">
    <div class="p-header__inner l-inner">
        <div class="p-header__logo">
            <a href="#">
                <img src="images/common/logo.svg" alt="ロゴ画像">
            </a>
        </div>
        <div class="p-header__menu-btn p-menu-btn u-mobile js-nav">
            <a href="#">
                <img src="./images/common/menu-icon.svg" alt="メニューアイコン">
                <span class="p-menu-btn__text">menu</span>
            </a>
        </div>
        <%- include('./_p-pc-nav') %>
    </div>
    <%- include('./_p-sp-nav') %>
</header>