<div class="p-hero-sub">
  <div class="p-hero-sub__title"><%= title %></div>
  <div class="p-hero-sub__images">
    <picture class="p-hero-sub__img">
      <source srcset="./images/common/p-hero-sub__pc.png" media="(min-width: 768px)" /><!-- 幅768px以上なら表示 -->
      <img src="./images/common/p-hero-sub__sp.png" alt="桜の花びらイメージ画像" />
    </picture>
  </div>
</div>