<div class="p-header">
    <div class="p-header__inner l-inner">
        <div class="p-header__logo">
            <a href="#">
                <img src="images/common/logo.svg" alt="ロゴ画像">
            </a>
        </div>
        <div class="p-header__menu-btn p-menu-btn u-mobile js-nav">
            <a href="#">
                <img src="/images/common/sakura_icon_black.png" alt="桜アイコン（黒）">
                <span class="p-menu-btn__text">menu</span>
            </a>
        </div>
        <nav class="p-header__nav u-desktop">
            <%- include('./_p-pc-nav') %>
        </nav>
    </div>
    <nav class="p-header__sp-nav">
        <%- include('./_p-sp-nav') %>
    </nav>
</div>