<div class="p-mainviual__container">
    <div class="p-overview__title">
        Web業界をより良いものに
    </div>
    <div class="p-overview__contents">
        業界全体のコーディングスキル向上の一端を担うべく、コーダーの人材教育を目的としたスキルアップ支援サービス「CodeUps」を提供。モダンなコーディングの実装が可能な人材を育て、業界をより良いものにしていきます。
    </div>
    </div>
</div>