<div class="p-overview">
  <div class="p-overview__container">
    <div class="p-overview__block">
      <div class="p-overview__title">
        <%- include('../component/_c-title',{title:'会社概要',subtitle:'company'}) %>
      </div>    
      <div class="p-overview__company">
        合同会社HomeEngineer
      </div>
      <div class="p-overview__info">
        <p>〒000-0000</p>
        <p>東京都新宿区西新宿0-0-00 西新宿水間ビル0階</p>
        <p>代表：鈴木花</p>
      </div>
    </div>
  </div>
</div>