<div class="p-overview">
  <div class="p-overview__container">
    <div class="p-overview__block">
      <div class="p-overview__title">
        <%- include('../component/_c-title',{title:'会社概要',subtitle:'company'}) %>
      </div>    
      <div class="p-overview__company">
        合同会社CodeUps
      </div>
      <div class="p-overview__info">
        〒000-0000<br>
        東京都新宿区西新宿0-0-0<br>
        代表：岡田絵理奈
      </div>
    </div>
  </div>
</div>