<div class="p-pc-nav">
    <% 
    const navItems = [
        {link:'index.html', text:'トップ'},
        {link:'blog-archive.html', text:'お知らせ'},
        {link:'blog-single.html', text:'ブログ'},
        {link:'works-archive.html', text:'制作実績'},
        {link:'contact.html', text:'お問い合わせ'},
    ]
    %> 
    <ul class="p-pc-nav__items">
    <% for (var navItem of navItems) {%>
        <li class="p-pc-nav__item"><a href="<%- navItem.link %>" class="c-nav-link"><%- navItem.text %></a></li>
        <% } %>
    </ul>
</div>