<div class="p-sub-content">
  <div class="p-sub-content__block l-inner">
    <p class="p-sub-content__title"><%= title %></p>
    <p class="p-sub-content__text"><%= text %></p>
  </div>
  <img src="./images/common/p-sub-content.jpeg" alt="">
</div>