<div class="p-sp-nav">
    <div class="p-sp-nav__btn js-close">
        <img src="/images/common/sakura_icon.png" alt="桜アイコン">
        <span class="p-sp-nav__text">close</span>
    </div>
    <ul class="p-sp-nav__items">
    <% 
    const navItems = [
        {link:'index.html', text:'トップ'},
        {link:'blog-archive.html', text:'お知らせ'},
        {link:'blog-single.html', text:'ブログ'},
        {link:'works-archive.html', text:'制作実績'},
        {link:'contact.html', text:'お問い合わせ'},
    ]
    %> 
    <% for (var navItem of navItems) {%>
        <li class="p-sp-nav__item"><a href="<%- navItem.link %>" class="c-nav-link"><%- navItem.text %></a></li>
        <% } %>
    </ul>
</div>