<div class="p-subtitle">
    <div class="p-subtitle__container">
        <h3 class="p-subtitle__title">
            Web業界をより良いものに
        </h3>
        <p class="p-subtitle__contents">
            業界全体のコーディングスキル向上の一端を担うべく、コーダーの人材教育を目的としたスキルアップ支援サービス「CodeUps」を提供。モダンなコーディングの実装が可能な人材を育て、業界をより良いものにしていきます。
        </p>
        </div>
    </div>
</div>