<nav class="p-header__sp-nav p-sp-nav">
    <div class="p-sp-nav__btn js-close">
        <img src="./images/common/menu-icon-close.svg" alt="クローズアイコン">
        <span class="p-sp-nav__text">close</span>
    </div>
    <ul class="p-sp-nav__items">
        <li class="p-sp-nav__item"><a href="#">トップ</a></li>
        <li class="p-sp-nav__item"><a href="#">お知らせ</a></li>
        <li class="p-sp-nav__item"><a href="#">ブログ</a></li>
        <li class="p-sp-nav__item"><a href="#">政策実績</a></li>
        <li class="p-sp-nav__item"><a href="#">お問い合わせ</a></li>
    </ul>
</nav>