
<div class="p-top-content">
    <div class="p-top-content__vertical-title-a">
        <%# include('../component/_c-vertical-title',{text:'CodeUps'}) %>
        <img src="/images/common/CodeUps.png" alt="CodeUps">
    </div>
    <div class="p-top-content__vertical-title-b">
        <%# include('../component/_c-vertical-title',{text:'Professional'}) %>
        <picture>
            <source srcset="/images/common/professional-sp.png" media="(max-width: 768px)" /><!-- 幅768px以上なら表示 -->
            <img src="/images/common/professional.png" alt="professional" />
        </picture>
    </div>
    <div class="p-top-content__inner">
        <h2 class="p-top-content__title-a c-content-title">
            <div class="c-content-title__img-a">
                <img src="/images/common/content_copy01.png" alt="コーディングの品質を最大限に">
            </div>
        </h2>
        <div class="p-top-content__body-a">
            <div class="p-top-content__img-a">
                <img src="/images/common/flower01.png" alt="花の画像1">
            </div>
            <div class="l-top-content__text-a">
                <p class="p-top-content__text-a">
                Web サイトをブラウザで表示するHTML 、見た目を決定するCSS 、
                など制作に必要なコードにこだわりを持ち、高い品質で制作いたします。
                コードを「ただ書く」だけでなく「<span class="p-top-content__underline">考えて書く</span>」こと、
                そこに制作者としてのプライドを持ち、日々制作と向き合っています。
                </p>
            </div>
        </div>
        <div class="p-top-content__body-b">
            <h2 class="p-top-content__title-b c-content-title">
                <div class="c-content-title__img-b">
                    <img src="/images/common/content_copy02.png" alt="セマンティックであること">
                </div>
            </h2>
            <div class="p-top-content__img-b">
                <img src="/images/common/flower02.png" alt="花の画像2">
            </div>
        </div>
        <div class="p-top-content__text-block">
            <p class="l-top-content__quotation p-top-content__quotation">
                セマンティック・ウェブ（英: semantic web）は W3C のティム・バーナーズ＝リーによって提唱された、ウェブページの意味を扱うことを可能とする標準やツール群の開発によってワールド・ワイド・ウェブの利便性を向上させるプロジェクト。セマンティック・ウェブの目的はウェブページの閲覧という行為に、データの交換の側面に加えて意味の疎通を付け加えることにある。
            – 引用元：Wikipedia
            </p>
            <p class="l-top-content__text-b p-top-content__text-b">
                読む人のため。これは目で見ることだけではありません。スクリーンリーダーを利用した耳でのサイト閲覧や検索エンジンといったロボットによる読み込みなど様々なテクノロジーに対して的確に情報を伝達すべく<span>セマンティックなマークアップ</span>を心がけています
            </p>
        </div>-
    </div>
</div>