<div class="p-upsdelight">
  <div class="p-upsdelight__container">
    <div class="p-upsdelight__inner">
      <div class="p-upsdelight__left">
        <div class="p-upsdelight__left-title">
          Delight
        </div>
        <div class="p-upsdelight__left-text">
          Web サイトをブラウザで表示する HTML 、見た目を決定するCSS 、動きを制御する JavaScript など制作に必要なコードにこだわりを持ち、高い品質で制作いたします。コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
        </div>
      </div>
      <div class="p-upsidelight__right">
        <div class="p-upsidelight__right-title">
          CodeUps
        </div>
        <div class="p-upsidelight__right-text">
          Web サイトをブラウザで表示する HTML 、見た目を決定するCSS 、動きを制御する JavaScript など制作に必要なコードにこだわりを持ち、高い品質で制作いたします。コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
        </div>
      </div>
    </div>
  </div>
</div>