<div class="p-upsdelight__container">
  <div class="p-upsdelight__inner">
  <div class="p-upsdelight__l">
    <div class="p-upsdelight__l-title">
      Delight
    </div>
    <div class="p-upsdelight__l-text">
      Web サイトをブラウザで表示する HTML 、見た目を決定するCSS 、動きを制御する JavaScript など制作に必要なコードにこだわりを持ち、高い品質で制作いたします。コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
    </div>
  </div>
  <div class="p-upsdelight__r">
    <div class="p-upsdelight__r-title">
      CodeUps
    </div>
    <div class="p-upsdelight__r-text">
      Web サイトをブラウザで表示する HTML 、見た目を決定するCSS 、動きを制御する JavaScript など制作に必要なコードにこだわりを持ち、高い品質で制作いたします。コードを「ただ書く」だけでなく「考えて書く」こと、そこに制作者としてのプライドを持ち、日々制作と向き合っています。
    </div>
  </div>
</div>