<div class="p-works-archive l-padding-inner">
  <div class="p-works-archive__breadcrumb">
    <%- include('../component/_c-breadcrumb',{level1:'トップページ', level2:'制作実績アーカイブ',level3:''}) %>
  </div>
  <div class="p-works-archive__block">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc2.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc2.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc2.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc2.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc2.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
  </div>
  <div class="p-works-archive__pagination">
    <%- include('../component/_c-pagination') %>
  </div>
</div>