<a href="#" class="p-works-list__item p-works-card">
    <% for (var i=0; i < 3; i++) { %>
    <figure class="p-works-card__img">
        <img src="./images/common/works1.jpg" alt="" />
    </figure>
    <% } %>
</a>