<div class="p-works">
  <div class="p-works__title">
    <%- include('../component/_c-title',{title:'制作実績',subtitle:'achievements'}) %>
  </div>
  <div class="p-works__block">
    <img src="./images/common/p-work-pc1.jpg" alt="">
    <img src="./images/common/p-work-pc2.jpg" alt="">
    <img src="./images/common/p-work-pc1.jpg" alt="">
  </div>
  <div class="p-works__btn">
    <%- include('../component/_c-btn',{link:'#',text:'more'}) %>
  </div>
</div>