<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body class="l-maxinner">

    <div class="p-404">
      <%- include('./project/_p-top-greeting', {status:'404'}) %>
    </div>

    <!-- <div class="p-404__breadcrumb">
      <%# include('./component/_c-breadcrumb',{level1:'トップページ',level2:'４０４エラー',level3:''}) %>
    </div> -->

    <footer class="l-footer">
      <%- include('./project/_p-footer') %>
    </footer> 
  </body>
</html>