<html lang="ja">
<%- include('./common/_head') %>
<body class="l-bg">

    <section class="p-subtitle">
        <%# include('./project/_p-subtitle') %>
    </section>

    <section class="p-works">
        <%- include('./project/_p-works') %>
    </section>

    <section class="l-blog">
        <%# include('./project/_p-blog') %>
    </section>

</body>
</html>