<html lang="ja">
<%- include('./common/_head') %>
<body class="l-maxinner">

    <section class="l-mainvisual">
        <%- include('./project/_p-mainvisual') %>
    </section>

    <section class="p-blog">

        <%- include('./common/_p-blog') %>

        <%- include('./component/_c-btn',{text:'MORE', link:'#'}) %>
    </section>

</body>
</html>