@use "global" as *;

.l-404{
}
.l-404__inner{
	width: 100%;
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(md) {
    padding-right: initial;
    padding-left: initial;
  }
}