@use "global" as *;

.l-404{
  width: 100%;
  background-image: url(../images/common/flower03.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include mq("md"){
    background-position: right;
    padding-bottom: rem(500);
  }
}
.l-404-inner{
	width: 100%;
	height: inherit;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
	@include mq(md) {
		max-width: $l-inner + strip-unit($padding-pc) * 2;
		padding-right: rem(30);
		padding-left: rem(100);
	}
}