@use "global" as *;

.l-blog-archive{
    margin-top: rem(26);
    @include mq("md"){
        margin-top: rem(36);
    }
}
.l-blog-archive__inner {
    margin-top: rem(42);
    @include mq('md') {
        max-width: rem(1404);
        margin-top: rem(87);
        margin-left: auto;
        margin-right: auto;
    }
}