@use "global" as *;

.l-blog-archive__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    margin-top: rem(42);
    @include mq('md') {
        max-width: rem(1404);
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(87);
        padding-left: $padding-pc;
        padding-right: $padding-pc;  
    }
}