@use "global" as *;

.l-contact{
    padding-top: rem(25);
    @include mq('md') {
        padding-top: rem(35);
    }   
}
.l-contact__text-block1 {
    margin-top: rem(42);
    @include mq('md') {
        margin-top: initial;
    }
}

.l-contact__text-block2 {
    margin-top: rem(80);
    @include mq('md') {
        margin-top: initial;
    }
}

.l-contact__text-block2 .c-contact-text {
    padding-top: rem(65);
    border-top: rem(2) solid #707070;
    @include mq('md') {
        padding-top: initial;
        border-top: initial;
    }

}
.l-contact__pc{
	@include mq("md"){
		max-width: rem(1060);
		margin: 0 auto;
	}
}