<ul class="c-breadcrumb">
  <li><a href="index.html"><%= level1 %></a></li>
  <li><a href="<%= link2 %>"><%= level2 %></a></li>

  <% if(!level3 == "" ) { %>
  <li><a href="#"><%= level3 %></a></li>
  <% } %>
</ul>