<div class="c-datetag"><%= date %>
  <!-- <div class="c-datetag__left">
    <img src="/dist/images/common/datetag_left.png" alt="">
  </div>
  <p></p>
  <div class="c-datetag__right">
    <img src="/dist/images/common/datetag_right.png" alt="">
  </div> -->
</div>