<div class="c-pagination">
    <ul class="c-pagination__items">
        <li class="c-pagination__item c-pagination__item--next">&Lt;<a href="#">新しい記事へ</a></li>
        <li class="c-pagination__item c-pagination__item--page current"><a href="#">1</a></li>
        <li class="c-pagination__item c-pagination__item--page"><a href="#">2</a></li>
        <li class="c-pagination__item c-pagination__item--page"><a href="#">3</a></li>
        <li class="c-pagination__item c-pagination__item--page"><a href="#">4</a></li>
        <li class="c-pagination__item c-pagination__item--page"><a href="#">5</a></li>
        <li class="c-pagination__item c-pagination__item--page"><a href="#">6</a></li>
        <li class="c-pagination__item c-pagination__item--page"><a href="#">7</a></li>
        <li class="c-pagination__item c-pagination__item--prev"><a href="#">古い記事へ</a>&Gt;</li>
    </ul>
</div>