<!-- <h2 class="p-top-content__title-a c-top-content-title">
    <div class="c-top-content-title__block01">
        <span>コ</span>
        <span>ー</span>
        <span>デ</span>
        <span>ィ</span>
        <span>ン</span>
        <span>グ</span>
    </div>
    <div class="c-top-content-title__block02">
        <span>の</span>
        <span>品</span>
        <span>質</span>
        <span>を</span>
    </div>
    <div class="c-top-content-title__block03">
        <span>最</span>
        <span>大</span>
        <span>限</span>
        <span>に</span>
    </div>
</h2> -->